.styles/
# the local kas fragment if you want customizations
/local.yml

# kas artifacts from running `kas build` inside this checkout
/build/
/bitbake/
/openembedded-core/
/meta-openembedded/
/meta-arm/
/meta-updater/
/meta-qcom/
/meta-qcom-3rdparty/
/meta-qcom-distro/
/meta-security/
/meta-selinux/
/meta-virtualization/
